/* This is a demo to show how to combine tailwind and bootstrap, you should choose one in practice*/
/* Example using both Tailwind and bootstrap to achieve similar effect for a button */
.example-button {
  @apply rounded bg-blue-500 py-2 px-4 font-bold text-white;
}
.example-button:hover {
    @apply bg-blue-700;
}
.bs-example-button {
    background-color: #28a745;
    color: #fff;
    border-color: #28a745;
    padding: 10px 16px;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.bs-example-button:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
