<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="dashboardWrapper">
        <div class="container welcome-container">
            <h1 id="welcomeText"><%= welcomeMessage %></h1>
           <div class="button-container">
             <a href="/logout" class="logout-btn">Logout</a>
             <button class="logout-btn" id="usersButton">Get Users</button>
           </div>
        </div>
        <div class="container" id="userDataContainer" style="display:none;">
            <h2>User Data</h2>
            <div id="userData"></div>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
